html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}

.game {
        width: 100%;
    }

.rules {
        width: 90%;
        margin: 5px auto;
        padding: 10px;
        font-style: italic;
        background-color: #3773f3;
        border-radius: 10px;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
    }

.game .userInput {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-content: center;
    }

.game #UserInput {
        width: 65%;
        font-size: 14pt;
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
    }

.game #SubmitData {
        width: 15%;
        border: none;
        outline: none;
        background: transparent;
        font-weight: bold;
        font-size: 14pt;
        cursor: pointer;
        transition: all 0.25s ease;
    }
.game #AskHint {
        width: 15%;
        border: none;
        outline: none;
        background: transparent;
        font-weight: bold;
        font-size: 14pt;
        cursor: pointer;
        transition: all 0.25s ease;
    }

.game #SubmitData:hover {
        color: rgb(0, 255, 13);
    }

.game #AskHint:hover {
        color: rgb(225, 0, 0);
    }

.gameResults {
        width: 90%;
        margin: 10px auto;
        background: #d47e0d;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 16px;
    }

.gameResults .guesses {
        flex: 1 1 50%;
    }
.gameResults .guesses span {
        display: block;
        margin-bottom: 4px;
}

.gameResults .score {
        flex: 1 1 50%;
    }

